<div>
	<div class="keymsgpopup-header">
		{{locale.AddKeyMsgHeader}} {{brandName}}
		<div class="confirmation-popup-body keymsgpopup-subheader">
			{{locale.AddKeyMsgSubHeader}}
		</div>
	</div>
	<div class="keymsgpopup-maincontent">
		<div>
			<div ng-repeat="item in listofMessages" class="keymsgpopup-mainsubcontent">
				<table>
					<tr>
						<td class="keymsgpopup-checkbox" valign="top">
						<input type="checkbox" id="data{{$index}}" ng-model="selectedValues[item.Id]" ng-change="showValue(item)">
						<label for="data{{$index}}"></label></td>
						<td>
						<div>
							{{item.Key_Message__c}}
						</div></td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>
<div class="ngdialog-buttons" style="display: inline;">
	<button type="button" class="ngdialog-button ngdialog-button-primary confirmation-popup-button" style="width:49%;" ng-click="closeThisDialog('button')">
		{{locale.Cancel}}
	</button>
	<button type="button" class="ngdialog-button ngdialog-button-secondary confirmation-popup-button" style="width:49%;" ng-click="addThisKey()">
		{{locale.Add}}
	</button>
</div>
