<div class="popup">
    <div class="popup-body">
       <span ng-click="closeThisDialog('button')" class="popup-close"><img src="img/icons/close-button-filter.png"></span>
       <div class="popup-content">
            <div class="popWraps">
                <p class="text-bottom">{{ngDialogData.headerText}}</p>
                <ol class="num-space">
                    <li ng-repeat="list in ngDialogData.lists | unique: 'list' ">{{list}}</li>
                </ol>
            </div>
            <div class="popBtns">
                <button class="ok-btn" ng-click="closeThisDialog('button')">{{ngDialogData.negativeButton}}</button>
                <button class="cancel-btn" ng-click="confirm()">{{ngDialogData.positiveButton}}</button>
            </div>
        </div>
    </div>
</div>