
<div class="disclaimer-popup">
<header class="header col-xs-12">
    <nav class="row">
        <div class=" nav-icon-wrapper">
            <div class="disclaimer-note">
                <div class="nav-icons-container">
                    <div class="icon1">
                        <div class="abbottLogo">
                        </div>
                    </div>
                    <div class="disclaimer-txt">
                        <p>DISCLAIMER</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="disclaimer-wrapper page-wrap">
    <div class="background-wrap">
        <div class="disclaimer-text">
            <h1 visible-xs>DISCLAIMER</h1>
            <p>
                By clicking on <strong>SIGN IN </strong> below, you acknowledge and agree that prevailing Abbott Policies and Terms apply to your use of this computer application in general and the following terms of use in particular.
            </p>
            <ul type="i">
                <li>

                        This computer application, hereinafter referred to as &#8220;Abbworld App&#8221; or &#8220;App&#8221; is exclusively meant for the use of personnel of Abbott group of companies in India (&#8220;Abbott&#8221;) or such other persons expressly authorized in writing in this regard, for the purpose of complying with the reporting requirements in discharge of their official duties towards Abbott.

                </li>
                <li>

                        Only authorized Abbott personnel who are trained in using this App are allowed to access this system. By accessing this system as an Abbott user you acknowledge that all relevant Abbott policies and users terms apply. Un-authorised access and/or unapproved use may subject you to criminal prosecution and/or Abbott disciplinary action.

                </li>
                <li>

                        Abbott may subsequently add such additional features and functionality to this App as it may deem fit and your use of such additional features shall be subject to these terms of use.

                </li>
                <li>

                        You shall use Abbworld App only for approved official purposes and not for private use. You shall cease to use this App and delete it from your device upon you ceasing to be employed with Abbott.

                </li>
                <li>

                        The data entered into the App by you is generated in the course of your employment with Abbott and hence, will become an absolute property of Abbott without Abbott having to pay any additional consideration or further documentation.

                </li>
                <li>

                        You shall not enter any patient data or personal or sensitive personal information of any person (including yourself) on this App. Activities on this App may be logged in accordance with applicable laws and Abbott policies and will get analysed for the purpose of Abbott&#39;s business.

                </li>
                <li>

                        If you do not agree to the above, then you should not access this App.

                </li>
            </ul>
        </div>
        <div class="button-background">
            <button class="signin-button" ng-click="confirm()">SIGN IN<!--{{ngDialogData.positiveButton}}--></button>
        </div>
    </div>
</div>
</div>