<div class="popup">
    <div class="popup-body">
       <!-- <span  ng-click="confirm()" class="popup-close"><img src="img/icons/close-button-filter.png"></span>-->
        <div class="popup-content">
            <div class="popWraps"><p>{{ngDialogData.message}}</p></div>
            <div class="popBtns">
                <button class="ok-btn" ng-click="confirm()">{{ngDialogData.buttonText}}</button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="ngdialog-message">
    <div class="normal-popup-body">{{ngDialogData.message}}</div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary normal-popup-button"></button>
</div>
-->