@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.ttf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-ExtraBold.ttf") format("opentype");
    font-weight: 900;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}