.top-icon img {
    width: 30.17vw;
    height: 11.17vw;
}
.landing-wrapper {
    background-color: #f4f4f4;
    float: left;
    padding-bottom: 3.7vw;
}
.top-icon {
    padding: 4.81vw 7.22vw 0;
}
.user-detail {
    padding-top: 5.5vw;
    padding-left: 7.22vw;
    padding-bottom: 4.33vw;
}
.welcome-user {
    font-size: 0.813rem;
    font-family: OpenSans;
    font-weight: 700;
}
.landing-lists .item-one img {
    width: 13.52vw;
    height: 14.26vw;
}
.landing-lists {
    padding: 0 3.15vw;
}
.list-item {
    padding: 2.5vw 6.11vw;
    background-color: #fff;
    margin-bottom: 1.3vw;
}
.item-one {
    float: left;
    width: 15%;
}
.item-two {
    float: left;
    width: 81%;
    position: relative;
    top: 5vw;
    padding-left: 10.56vw;
    padding-right: 18.5vw;
}
.item-two .list-desc {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 0.665rem;
}
.item-three {
    float: left;
    position: relative;
    top: 5vw;
}
.item-three img {
    height: 4vw;
    width: 2.85vw;
}
.landing-lists,
.list-item {
    float: left;
    display: block;
    width: 100%;
}
.user-detail img,
.list-item.list-item-tab,
.welcome-user-details,
.list-subtext,
.welcome-user-name,
.searchIcon {
    display: none;
}
@media screen and (min-width: 980px) {
    .welcome-user {
        display: none;
    }
    .landing-wrapper {
        background-color: #fff;
    }
    .top-icon img {
        width: 17.31vw;
        height: 6.76vw;
    }
    .user-detail img,
    .list-item.list-item-tab,
    .welcome-user-details,
    .list-subtext,
    .welcome-user-name,
    .searchIcon {
        display: block;
    }
    .user-detail img {
        float: left;
    }
    .user-detail .welcome-user-name {
      padding-left: 1.95vw;
    float: left;
    padding-top: 0.5vw;
    font-size: 1.800rem;
    font-weight: 700;
    }
    .welcome-user-details {
       padding-left: 0;
    float: left;
    padding-top: 0.3vw;
    font-size: 0.850rem;
    font-weight: 700;
    position: relative;
    top: 3.5vw;
    right: 20vw;
    }
    .welcome-user-details span {
        color: #a33f66;
    }
    .user-detail {
        float: left;
        padding-left: 5.47vw;
        padding: 5.47vw;
        padding-bottom: 6.72vw;
    }
    .landing-lists {
        padding: 0vw 6.17vw 0 3.17vw;
        clear: both;
    }
    .list-item {
        padding-left: 2.15vw;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: 33%;
        margin-bottom: 4.14vw;
    }
    .landing-lists .item-one img {
        width: 5.08vw;
        height: 5.08vw;
    }
    .landing-lists {
        width: 100%;
    }
    .item-three {
        display: none;
    }
    .item-one {
        width: 25%;
        padding: 0 1.55vw;
    }
    .item-two {
        padding: 0;
        width: 100%;
        top: 0;
        padding-left: 0.6vw;
    }
    .item-two .list-desc {
        font-size: 1.09rem;
    }
    .list-item.list-item-border {
        border-right: 2px solid #ccc;
    }
    .right-side {
        float: left;
        width: 75%;
        padding-left: 1.29vw;
    }
    .left-side {
        clear: both;
    }
    .list-subtext {
        font-size: 0.850rem;
        font-weight: 500;
        padding-right: 0.9vw;
        padding-top: 0.5vw;
    }
    .list-item.list-item-tab.list-item-border {
        clear: left;
    }
    .searchIcon {
        background-repeat: no-repeat;
    margin-left: 2.03vw;
    position: relative;
    top: 2.03vw;
    }
    .searchIcon input {
        border: none;
        padding-left: 1.17vw;
    }
    .top-icon{
        padding-left: 6.25vw;
    }
}