.corpinit-container {
	height: 85%;
	overflow-y: auto;
}

.corpinit-table {
	width:100%;
}

.corpinit-table-row {
   font-size: .9em;
   border-bottom: 1px solid #EDEDED;
   color: #666666;
   border-bottom: 1px solid #ededed;
}

.corpinit-table-row td {
   padding-left:0.5em;
}

.corpinit-checkboxcol {
   width:6%;
   padding: 0.5em;
}

.corpinit-footer {
	background-color:white;
	border:none;
	height: 15%;
	min-height:0px;
}

.corpinit-footer-savebtn {
	background: #0EB4D6;
    border-radius: 0.4em;
    border: none;
    color: #ffffff;
    width: 50%;
    float:right;
    height: 2.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 0.813em;
}

.corpinit-nodata {
	height: 85%;
	text-align:center;
}