.no-padding-margin{
    padding: 0% !important;
    margin: 0%
}
.tableFormat {
    display: table
}
.header-format{
    background-color: #0EB4D6;
    color: #FFFFFF;
    line-height: 2em;
}

.footer-format{
    background-color: #0EB4D6;
    color: #FFFFFF;
    line-height: 2em;
}

.verical-align-middle{
    vertical-align: middle;
}

.img-height-width{
    width: 6em;
    height: 6em;
    border-radius:6em;
}

.table-padding{
    padding: 1em
}

.cell-width{
    width: 25%;
}

.height-top{
    height: 3.5em;
}

.height-bottom{
    height: 3em;
}

.height-middle{
    height: calc(100% - 6em)
}

.width-quantity{
    width: 60%
}

.width-removeicon{
    width: 25%
}

.height-bottom-bar {
    height: 4em
}

.inputbox-line-height{
    line-height: 1em
}

.align-left {
    text-align: left
}

btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle {
    width: 4em;
    height: 4em;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 2em;
}

.btn-add-brand {
    position: absolute;
    bottom: 6em;
    right: 1.5em;
    font-weight: bold;
    border-bottom-style: outset;
    border-right-style: outset;
    border-left-style: inset;
    border-top-style: inset;
    box-shadow: 5px 5px 5px #888888;
}

.scroll{
	overflow:scroll;
}

.padding-bottom{
	padding-bottom:4em;
}

.product-padding {
	margin:.25em;
}

.add-product-container{
	overflow-y: scroll;
	overflow-x:hidden;
    height: 100%;
    /*padding: 0 .5em;*/
    border-color: black;
    border-width: 2px;
}
.add-product-container.black-background{
    background-color:#000;
    opacity: .8;
    color:#fff;
    }

 .add-product-container.black-background div{
 color:#fff;
 }
.currency {
    font-size: 1.5em;
}
.currency-color{
    color: green;
}
.qty-input{
    width: 100%;
    height: 4em;
    text-align: center;
    border: 1px solid #cdcdcd;
    color: orange;
}
.qty-plus-button{
	    border: 1px solid #cdcdcd;
        padding: .25em!important;
        height: 2em;
        margin: auto;
}
.leftSwiped {
	-webkit-transform: translate(-8%, 0);
	transform : translate(-8%, 0);
}

.calculator-item-container{
    width:108.33%
}

.calculator-item-height{
    height: 6.2em;
    overflow-x:hidden;
}

.remove-button{
    height:6em;
    width:100%;
    margin-left:3px;
}

.remove-button button {
       height: 100%;
       width: 100%;
       background-color: red;
       border: 0;
       box-shadow: none;
}

button.btn-close{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.product-list, .product-list-container{
    height:calc(100% - 4em);
    overflow:hidden;
}

.product-list > div{
    overflow:scroll;
    height : 100%;
}
.close-button{
        height: 4em;
        padding: 1em;
        text-align: center;
}

.align-center-empty-list{
	text-align: center;
}


